.header-container{
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}

.redirection {
  display: flex;
  gap: 20px;
}

.redirection a {
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s;
}

.redirection a:hover {
  opacity: 0.5;
}

.header-container img {
  width: 150px;
  height: auto;
}
