<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login page</title>
</head>
<body>
<app-header></app-header>
<div class="login-container">
  <h1>Login</h1>
<form class="login-form">
  <mat-form-field class="login-input-container">
    <mat-label>Write your email</mat-label>
    <input matInput value="">
  </mat-form-field>
  <mat-form-field class="login-input-container">
    <mat-label>Write your password</mat-label>
    <input matInput value="" type="password">
  </mat-form-field>
</form>
</div>
</body>
</html>
